<!DOCTYPE HTML>

<html>
	<head>
		<title>part::out</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-home"><span>Home</span></a>
						<a href="#donate" class="icon solid fa-gift"><span>Donate</span></a>
						<a href="#work" class="icon solid fa-folder"><span>Builds</span></a>
						<a href="#info" class="icon solid fa-info"><span>Info</span></a>
						<a href="https://green.nd.edu/get-involved/waste/old2gold/" class="icon solid fa-recycle"><span>GreenND</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1><center>part::out</center></h1>
									<p><center><br>Salvaging E-Waste from the college move-out process<br>
									while also compiling computer setups for the local community</center></p>
								</header>
							</article>

							<!-- Donate -->
								<article id="donate" class="panel">
									<header>
										<h2>Donate Components</h2>
									</header>
									<form action="#thankyou" method="post">
										<div>
											<div class="row">
												<div class="col-6 col-12 col-18-medium">
													<input type="text" name="name" placeholder="Name" />
												</div>
												<div class="col-6 col-12-medium">
													<input type="text" name="email" placeholder="Email" />
												</div>
												<div class="col-6 col-12-medium">
													<input type="text" name="dorm" placeholder="Dorm" />
												</div>
												<div class="col-6 col-12-medium">
													<input type="text" name="item" placeholder="Item (eg. Dell Laptop)" />
												</div>
												<div class="col-6 col-12-medium">
													<select id="types" name="type">
														<option value="" disabled selected hidden>Type</option>
  													<option value="desktop">Desktop</option>
  													<option value="monitor">Monitor</option>
  													<option value="mouse">Mouse</option>
  													<option value="keyboard">Keyboard</option>
														<option value="misc.">Misc.</option>
													</select>
												</div>
												<div class="col-12">
													<textarea name="notes" placeholder="Notes (eg. Cracked Screen, Broken, etc.)" rows="6"></textarea>
												</div>
												<div class="col-12">
													<input type="submit" value="Submit" />
												</div>
											</div>
										</div>
									</form>
								</article>

							<article id="thankyou" class="panel">
								<header>
									<h2><center>Thank You!</center></h2>
								</header>
								<p>
									<br><center>"Did you know that although E-Waste only makes up 2% of landfill content, <br>
									it equals 70% of overall toxic waste?""</center>
								</p>
							</article>

						<!-- Catalogue -->
							<article id="work" class="panel">
								<header>
									<h2>Active Builds</h2>
								</header>
								<section>
									<div class="row">
										<div class="col-4 col-6-medium col-12-small">
											<blockquote>
												<u><center><b>Build #1</b></center></u><br>
                                                <b>Desktop:</b> {{theBuilds[0]["desktop"]["item"]}}<br>
                                                <b>Monitor:</b> {{theBuilds[0]["monitor"]["item"]}}<br>
                                                <b>Mouse:</b> {{theBuilds[0]["mouse"]["item"]}}<br>
                                                <b>Keyboard:</b> {{theBuilds[0]["keyboard"]["item"]}}<br>
											</blockquote>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<blockquote>
												<u><center><b>Build #2</b></center></u><br>

                                                <b>Desktop:</b> {{theBuilds[1]["desktop"]["item"]}}<br>
                                                <b>Monitor:</b> {{theBuilds[1]["monitor"]["item"]}}<br>
                                                <b>Mouse:</b> {{theBuilds[1]["mouse"]["item"]}}<br>
                                                <b>Keyboard:</b> {{theBuilds[1]["keyboard"]["item"]}}<br>
											</blockquote>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<blockquote>
												<u><center><b>Build #3</b></center></u><br>
                                                <b>Desktop:</b> {{theBuilds[2]["desktop"]["item"]}}<br>
                                                <b>Monitor:</b> {{theBuilds[2]["monitor"]["item"]}}<br>
                                                <b>Mouse:</b> {{theBuilds[2]["mouse"]["item"]}}<br>
                                                <b>Keyboard:</b> {{theBuilds[2]["keyboard"]["item"]}}<br>
											</blockquote>
										</div>
									</div>
								</section>
								<header>
									<h2>Parts Bin</h2>
								</header>
								<table>
									<tr>
										<th><b>Name</b></th>
										<th><b>Type</b></th>
										<th><b>Notes</b></th>
									</tr>
                                    {% for key in dict %}
                                    {% if dict[key]["item"] not in theUsed %}
									<tr>
                                        <td>{{dict[key]["item"]}}</td>
                                        <td>{{dict[key]["type"]}}</td>
                                        <td>{{dict[key]["notes"]}}</td>
									</tr>
                                    {% end %}
                                    {% end %}
								</table>

								<header>
									<h2>Needs Repair</h2>
								</header>
								<table>
									<tr>
										<th><b>Name</b></th>
										<th><b>Type</b></th>
										<th><b>Notes</b></th>
									</tr>
                                    {% for key in dict %}
                                    {% if dict[key]["item"] not in theUsed %}
									<tr>
                                        <td>{{dict[key]["item"]}}</td>
                                        <td>{{dict[key]["type"]}}</td>
                                        <td>{{dict[key]["notes"]}}</td>
									</tr>
                                    {% end %}
                                    {% end %}
								</table>

							</article>

							<!-- Info -->
								<article id="info" class="panel">
									<header>
										<h2>Mission</h2>
									</header>
									<p>
										At the end of every academic year, students rid themselves of old furniture and broken appliances. At Notre Dame, the Goodwill of Southbend
										makes their rounds to pickup unwanted items to stock at their franchises. However, there is a gap between what students are throwing out and what
										Goodwill can take. E-Waste begins to pile up as busted electronics and unaccepted items get binned with other trash; many of these parts
										are still usable, and with the right care, could be brought back to life.<br><br>

										<b>part::out</b> fills the gap found in the move-out process. Students can log items, and with groups like CS4Good, mobilize to build and repair fully
										functional PC setups for the greater Michana area.
									</p>
								</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; part::out</li><li>Partnership with <a href="http://sites.nd.edu/cs4good/">CS4Good</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
